.footer{
    display:flex;
    padding: 24px 50px;
    font-size:14px;
    background-color:#001529;
    color:#ffff;
    justify-content:space-between;

    p{
        max-width: 300px;
    }

    h4{
        margin:0 0 10px 0;
    }

    .help{
        float:left;
    }

    .quick-link{
        max-width:300px;
        flex:1;

        a{
            color:#1890ff;
            text-decoration: none;

            &:hover{
                color:#fff;
            }
        }
    }
}